body{
background-image:url("https://png.pngtree.com/background/20210717/original/pngtree-cute-creative-portfolio-picture-image_1447444.jpg");
height:100vh;
background-size:cover;

}
.text{
text-align:centre;
align-items:centre;
font-size:20px;
color:#23522d;
}
.title{
font-weight:bold;
font-size:18px
}
.body1{
background-image:url('https://pics.craiyon.com/2023-09-14/65d4a6837fb645ebb02b69c09b7332cb.webp');
height:100vh;
background-size:cover;
color:#ffffff;
margin:13px;
}
.img{
height:30vh;
width:30vw;
}